<h1><%= @user.username %></h1>

<% if @user.id == @signed_in_user%>
<% elsif @the_follow_request == nil && @user.private == true %>
  <form action="/insert_follow_request" method="post">
    <input type="hidden" id="query_recipient_id" name="query_recipient_id" value="<%= @user.id%>">
    <input type="hidden" id="query_sender_id" name="query_sender_id" value="<%=@signed_in_user%>">
    <input type="hidden" id="query_status" name="query_status" value="Requested">
    <button> Follow </button>
  </form>
<% elsif @the_follow_request == nil && @user.private == false %>
  <form action="/insert_follow_request" method="post">
    <input type="hidden" id="query_recipient_id" name="query_recipient_id" value="<%= @user.id%>">
    <input type="hidden" id="query_sender_id" name="query_sender_id" value="<%=@signed_in_user%>">
    <input type="hidden" id="query_status" name="query_status" value="Following">
    <button> Follow </button>
  </form>
<% else %>
  <a href="/delete_follow_request/<%= @the_follow_request.id %>"> Unfollow </a>
<%end%>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>
  <dt>Followers</dt>
  <dd> <%= @follower_count %> </dd>

  <% if @user_pending_follow_requests == nil %>
  <% else %>
    <% @user_pending_follow_requests.each do |request| %>
      <ul>
        <li>
          <% request.sender_id %>
        </li>
        <form action="/modify_follow_request/<% request.id %>">
          <input type="hidden" id="query_recipient_id" name="query_recipient_id" value="<%= @user.id%>">
          <input type="hidden" id="query_sender_id" name="query_sender_id" value="<%=@signed_in_user%>">
          <input type="hidden" id="query_status" name="query_status" value="Following">
          <button> Accept </button>
        </form>
          <form action="/delete_follow_request/<% request.id %>">
          <button> Reject </button>
        </form>
      </ul>
    <% end %>
    <%end%>



  <dt>Following</dt>
  <dd> <%= @following_count %> </dd>
  <% if @user.id == @signed_in_user%>
    <dt>Edit user</dt>
    <dd>
      <form action="/update_user/<%= @user.id %>" >
        <label for="browser_username">Username</label>
        <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">
        <label for="private_account">Private?</label>
        <input id="private_account" name="private_account" type="checkbox"
        value="1" /><input name="private_account" type="hidden" value="0" />
        <button>Update user</button>
      </form>
    </dd>
  <%end%>
</dl>
 <ul>
      <li>
        <a href="/users/<%= @user.username %>"> Profile </a>
      </li>
      <li>
        <a href="/user_sign_in"> Liked Photos PLACEHOLDER!!!! </a>
      </li>
      <li>
        <a href="/user_sign_out"> Feed PLACEHOLDER!!!!</a>
      </li>
      <li>
        <a href="/photos"> Discover PLACEHOLDER!!!!</a>
      </li>
  </ul>
<%# UNCOMMENT BOTTOM LINE LATER %>
<h2> Own photos PLACEHOLDER! </h2>
<%# <h2>Own photos (<%= @user.own_photos.count %> <%#</h2> %>

<table border="1">
      <tr>
        <th>
          Image
        </th>
        <th>
          Owner
        </th>
        <th>
          Caption
        </th>
        <th>
          Posted
        </th>
        <th>
          Likes
        </th>
        <th></th>
      </tr>
    <% @users_photos.each do |photo| %>
      <tr>
        <td>
          <img src="<%= photo.image %>" class="img-responsive">
        </td>
        <td>
          <%= User.where({:id => photo.owner_id}).at(0).username %>
        </td>
        <td>
          <%= photo.caption %>
        </td>
        <td>
          <%= photo.created_at %>
        </td>
        <td>
          <%= photo.likes_count %>
        </td>
        <td>
          <a href="/photos/<%= photo.id %>"> Show details </a>
        </td>
      </tr>
    <% end %>
